img{
    height: 500px;
    width: 500px;
}
.bg-nav-dark-light{
    background-color: #555555;
}
#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}
@media(max-width: 600px) {
    img {
        height: 200px;
        width: 200px;
    }
}